.movies-card__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  justify-content: center;

  gap: 32px 32px;
  grid-template-columns: repeat(3, minmax(0, 360px));
}

@media (max-width: 1279px) and (min-width: 769px) {
  .movies-card__list {
    gap: 20px 15px;
  }
}

@media screen and (max-width: 860px) and (min-width: 550px) {
  .movies-card__list {
    grid-template-columns: repeat(2, minmax(0, 342px));
    gap: 35px 24px;
  }
}

@media screen and (max-width: 549px) and (min-width: 320px) {
  .movies-card__list {
    grid-template-columns: repeat(1, minmax(0, 300px));
    gap: 16px;
  }
}
