.search-form__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.search-form__slider::before {
  position: absolute;
  content: '';
  height: 8px;
  width: 8px;
  left: 2px;
  bottom: 6px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}
