.promo__title {
  margin: 0;
  padding-bottom: 36px;
  width: 640px;
  font-size: 50px;
  line-height: 58px;
  font-weight: 400;
}

@media screen and (max-width: 1100px) {
  .promo__title {
    width: 360px;
    font-size: 40px;
    line-height: 50px;
  }
}

@media screen and (max-width: 768px) {
  .promo__title {
    width: 640px;
    text-align: center;
    padding: 65px 0 22px 0;
  }
}

@media screen and (max-width: 660px) {
  .promo__title {
    width: 280px;
    font-size: 33px;
    padding: 60px 0 24px 0;
    line-height: 43px;
  }
}

@media screen and (max-width: 425px) {
  .promo__title {
    width: 300px;
    font-size: 30px;
    letter-spacing: -0.04em;
    text-align: center;
    line-height: 38px;
  }
}
