.movies-card {
  margin: 0 auto;
  max-width: 1280px;
  box-sizing: border-box;
  padding: 70px 70px 0 70px;
}

@media screen and (max-width: 768px) {
  .movies-card {
    padding: 70px 30px;
  }
}

@media screen and (max-width: 425px) {
  .movies-card {
    padding: 40px 10px;
  }
}
