.profile__flex-box {
  padding-top: 220px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

@media screen and (max-width: 425px) {
  .profile__flex-box {
    padding-top: 379px;
  }
}
