.burger-menu__button {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background: none;
  padding: 0;
  border: none;
  cursor: pointer;
  background-image: url('../../../images/burger-menu.svg');
}

@media screen and (max-width: 768px) {
  .burger-menu__button {
    display: flex;
  }
}

@media screen and (max-width: 425px) {
  .burger-menu__button {
    width: 40px;
    height: 43px;
  }
}
