.search-form__input {
  padding: 0;
  padding-left: 25px;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
  background: #202020;
  border-radius: 8px;
  border: none;
  outline: 2px solid rgb(170, 170, 170, 0.2);
  height: 72px;
  vertical-align: middle;
  transition: outline 0.2s linear;
}

.search-form__input:focus {
  outline: 2px solid rgb(170, 170, 170, 0.7);
}

@media screen and (max-width: 425px) {
  .search-form__input {
    font-size: 16px;
    line-height: 16px;
    height: 56px;
  }
}
