.techs__list {
  margin: 0 auto;
  padding: 0;
  padding-top: 100px;
  gap: 10px;
  list-style: none;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .techs__list {
    padding-top: 83px;
  }
}

@media screen and (max-width: 650px) {
  .techs__list {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 425px) {
  .techs__list {
    max-width: 180px;
    justify-content: flex-start;
    padding-top: 50px;
  }
}
