.card__image {
  aspect-ratio: 1/0.55;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

@media (max-width: 1279px) and (min-width: 769px) {
  .card__image {
    min-height: 160px;
  }
}

@media screen and (max-width: 768px) {
  .card__image {
    height: 190px;
  }
}

@media screen and (max-width: 425px) {
  .card__image {
    height: 168px;
  }
}
