.auth__button {
  margin-top: 180px;
  height: 45px;
  border: none;
  border-radius: 3px;
  background-color: #4285f4;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: #ffffff;
}

.auth__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 425px) {
  .auth__button {
    margin-top: 240px;
    font-size: 12px;
    line-height: 15px;
  }
}
