.promo__paragraph {
  margin: 0;
  padding-bottom: 144px;
  width: 310px;
  font-size: 14px;
  font-weight: 400;
  line-height: 15.73px;
  opacity: 50%;
}
@media screen and (max-width: 768px) {
  .promo__paragraph {
    padding-bottom: 92px;
    font-size: 13px;
    width: 260px;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .promo__paragraph {
    padding-bottom: 80px;
  }
}
